div(class="container")
  p This #{name} list is awesome
    strong #{name + ' ' + "is awesome"}
  ul
    each item in list
      li #{item}
  button(class="btn btn-light") Submit
  div
    if error && "E-mail must be valid."
      p(class="ulp-input-message ulp-input-errormsg") E-mail must be valid.
