<div class="container">
  <p>This <%= name %> list is awesome
    <strong><%= name + ' ' + "is awesome" %></strong>
  </p>

  <ul>
    <% list.forEach((item) => { %>
      <li><%= item %></li>
    <% }) %>
  </ul>

  <button class="btn btn-light">Submit</button>

  <div>
    <% if (error) { %>
      <p class="ulp-input-message ulp-input-errormsg">E-mail must be valid.</p>
    <% } %>
  </div>

  <div>
    <% if (error) { %>
      <p class="ulp-input-message ulp-input-errormsg">E-mail must be valid.</p>
    <% } %>
  </div>

  <input type="email" value="" required />
</div>
