<section class="hlp-box">
  <main class="hlp-container hlp-event-screen">
    <div class="event-img-container">
      <span class="<%= `event-img ${type}` %>"></span>
    </div>
  
    <section class="event-container">
      <% if (eventTitle) { %>
        <h3 class="event-title"><%= eventTitle %></h3>
      <% } %>
    
      <% if (eventText) { %>
        <div class="event-text"><%= eventText %></div>
      <% } %>
    <%= children %></section>
  </main>
</section>
