<section class="hlp-box">
  <main class="hlp-container hlp-event-screen">
    <div class="event-img-container">
      <span class="<%= `event-img ${locals.type}` %>"></span>
    </div>
  
    <section class="event-container">
      <% if (locals.eventTitle) { %>
        <h3 class="event-title"><%= locals.eventTitle %></h3>
      <% } %>
    
      <% if (locals.eventText) { %>
        <div class="event-text"><%= locals.eventText %></div>
      <% } %>
    <%= locals.children %></section>
  </main>
</section>
