<div>
  <% if (showIcon) { %>
    <span class="icon icon-123">Menu</span>
  <% } %>

  <% if (showIcon && showIconTwice) { %>
    <span class="icon icon-123">Menu</span>
  <% } %>

  <% if (showIcon) { %><%= showIcon %><% } else { %>
    <span class="icon icon-321">Close</span>
  <% } %>
</div>
