<div>
  <% if (locals.showIcon) { %>
    <span class="icon icon-123">Menu</span>
  <% } %>

  <% if (locals.showIcon && locals.showIconTwice) { %>
    <span class="icon icon-123">Menu</span>
  <% } %>

  <% if (locals.showIcon) { %><%= locals.showIcon %><% } else { %>
    <span class="icon icon-321">Close</span>
  <% } %>
</div>
