div
  p This list:
  ul
    each item in ['John', 'Doe']
      li #{item}
  div Hola!
  div Chau!
  div
    if true
      span(class="icon icon-123") Menu
    else
      Hi!
  div
    if true
      span(class="icon icon-123") Menu
    else
      Hi!
  div
    if "asdasd"
      span(class="icon icon-123") Menu
    else
      Hi!
  div
    if true && true
      span(class="icon icon-123") Menu
    else
      Hi!
  p
  p bye
