div
  p This list:
  ul
    each item in ['John', 'Doe']
      li #{item}
  div Hola!
  div Chau!
  div
    span(class="icon icon-123") Menu
    strong something
  div
    span(class="icon icon-123") Menu
    strong something
  div
    span(class="icon icon-123") Menu
    strong something
  div
    span(class="icon icon-123") Menu
  p
  p bye
  button(class="hlp-button hlp-button-default ") Hola
