<div>
  <p>This list:</p>

  <ul>
    <% ['John', 'Doe'].forEach((item) => { %>
      <li><%= item %></li>
    <% }) %>
  </ul>

  <div>Hola!</div>

  <div>Chau!</div>

  <div>
    <% if (true) { %>
      <span class="icon icon-123">Menu</span>
    <% } else { %>Hi!<% } %>
  </div>

  <div>
    <% if (true) { %>
      <span class="icon icon-123">Menu</span>
    <% } else { %>Hi!<% } %>
  </div>

  <div>
    <% if ("asdasd") { %>
      <span class="icon icon-123">Menu</span>
    <% } else { %>Hi!<% } %>
  </div>

  <div>
    <% if (true && true) { %>
      <span class="icon icon-123">Menu</span>
    <% } else { %>Hi!<% } %>
  </div>
</div>
