<div>
  <p>Lorem impsum: 
    <strong><%= locals.something %></strong>
  </p>

  <div>
    <p>Lorem impsum: 
      <strong><%= locals.something %></strong>
    </p>
  </div>

  <a href="#">See more</a>
</div>
