<div>
  <% if (locals.error && locals.errorMsg) { %>
    <p class="hlp-input-message hlp-input-errormsg"><%= locals.errorMsg %></p>
  <% } %>

  <% if (!locals.onlyLogo) { %>
    <% if (locals.text) { %><%= locals.text %><% } else { %>
      <p>Log In to 
        <strong><%= locals.company %></strong>
       to get started using 
        <strong><%= locals.app %></strong>
      .</p>
    <% } %>
  <% } %>
</div>
